.button {
  padding: 11px 17px;
  text-align: center;
  font-family: $ff;
  font-size: 21px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.63px;
  color: #FFF;
  border-radius: 5px;
  background-color: #FD6F00;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
  text-decoration: none;

  &:hover {
    background-color: #d35902;
    box-shadow: 1px 4px 14px -2px rgba(34, 60, 80, 0.23);
  }
}