.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  text-decoration: none;

  &__title {
    margin: 0;
    font-family: $ff-title;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
    color: var(--light-black, #545454);

    strong {
      color: $black;
    }
  }
}