.swiper {
  overflow: visible;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-slide-prev {
  opacity: 0.5;
  width: 1000px;
}
.swiper-slide-next {
  opacity: 0.5;
  width: 1000px;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 80px;
}

.swiper-pagination-bullet {
  width: 57px;
  height: 16px;
  border-radius: 8px;
  background-color: #D9D9D9;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #FD6F00;
}