.about {
  padding-top: 46px;
  padding-bottom: 61px;

  @media all and (min-width: $md) {
    padding-top: 36px;
    padding-bottom: 42px;
  }

  @media all and (min-width: $lg) {
    padding-top: 54px;
    padding-bottom: 58px;
  }

  @media all and (min-width: $xl) {
    padding-top: 60px;
    padding-bottom: 75px;
  }

  &__inner {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 42px;

    @media all and (min-width: $xl) {
      flex-direction: row;
      gap: 61px
    }

    @media all and (min-width: $xxl) {
      gap: 121px;
      flex-direction: row;
    }
  }

  &__information {
    max-width: 756px;

    &_title {
      font-family: $ff;
      font-size: 36px;
      font-weight: $fw-semibold;
      line-height: normal;
      letter-spacing: 1.95px;
      color: $black;

      @media all and (min-width: $sm) {
        font-size: 42px;
      }

      @media all and (min-width: $md) {
        font-size: 48px;
      }

      @media all and (min-width: $lg) {
        font-size: 58px;
      }

      @media all and (min-width: $xl) {
        font-size: 65px;
      }
    }

    &_text {
      margin-bottom: 23px;
      font-family: $ff;
      font-size: $fs-sm;
      font-weight: $fw-regular;
      line-height: normal;
      letter-spacing: 0.63px;
      color: $black;

      @media all and (min-width: $md) {
        font-size: $fs-md;
      }

      @media all and (min-width: $lg) {
        font-size: $fs-lg;
      }

      @media all and (min-width: $xl) {
        font-size: 21px;
      }
    }
  }

  &__skills {
  }

  &__skill {
    &_name {
      margin-bottom: 18px;
      font-family: $ff;
      font-size: $fs-lg;
      font-weight: $fw-semibold;
      line-height: normal;
      letter-spacing: 0.72px;
      color: $black;

      @media all and (min-width: $lg) {
        font-size: $fs-xl;
      }

      @media all and (min-width: $xl) {
        font-size: 24px;
      }
    }

    &_band {
      margin-bottom: 24px;
      width: 100%;
      height: 12px;
      position: relative;
      background-color: #EDECEC;
      border-radius: 6px;

      span {
        position: relative;
        display: block;
        height: 12px;
        background-color: $orange;
        border-radius: 6px;

        &:before {
          position: absolute;
          content: "";
          width: 25px;
          height: 25px;
          right: 0;
          top: -10px;
          border-radius: 50%;
          border: 4px solid $orange;
          background-color: #EDECEC;
          filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.20));
        }
      }
    }
  }
}

