.about {
  padding-top: 46px;
  padding-bottom: 61px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__information {
    max-width: 756px;

    &_title {
      font-family: $ff;
      font-size: 65px;
      font-weight: $fw-semibold;
      line-height: normal;
      letter-spacing: 1.95px;
      color: $black;
    }

    &_text {
      margin-bottom: 23px;
      font-family: $ff;
      font-size: 21px;
      font-weight: $fw-regular;
      line-height: normal;
      letter-spacing: 0.63px;
      color: $black;
    }
  }

  &__skills {
  }

  &__skill {
    &_name {
      margin-bottom: 18px;
      font-family: $ff;
      font-size: 24px;
      font-weight: $fw-semibold;
      line-height: normal;
      letter-spacing: 0.72px;
      color: $black;
    }

    &_band {
      margin-bottom: 24px;
      width: 100%;
      height: 12px;
      position: relative;
      background-color: #EDECEC;
      border-radius: 6px;

      span {
        position: relative;
        display: block;
        height: 12px;
        background-color: $orange;
        border-radius: 6px;

        &:before {
          position: absolute;
          content: "";
          width: 25px;
          height: 25px;
          right: 0;
          top: -10px;
          border-radius: 50%;
          border: 4px solid $orange;
          background-color: #EDECEC;
          filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.20));
        }
      }
    }
  }
}

