.hero {
  padding-top: 55px;
  padding-bottom: 27px;

  &__inner {
    display: flex;
    gap: 161px;
  }

  &__information {
    padding-top: 100px;
    max-width: 712px;

    &_subtitle {
      padding-left: 9px;
      margin-bottom: 6px;
      font-family: $ff;
      font-size: 24px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.72px;
      color: $black;
    }

    &_name {
      padding-left: 4px;
      font-family: $ff;
      font-size: 32px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.96px;
      color: #FD6F00;
    }

    &_speciality {
      margin: 0;
      font-family: $ff;
      font-size: 100px;
      font-weight: 700;
      line-height: 97%;
      letter-spacing: 3px;

      &:nth-child(2) {
        margin-bottom: 37px;
        text-align: right;
      }
    }

    &_description {
      padding-left: 7px;
      margin-bottom: 28px;
      font-family: $ff;
      font-size: 21px;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1.35px;
      color: $black;
    }
  }

  &__image {
    margin-bottom: 28px;
    max-width: 500px;
    max-height: 624px;
  }

  &__button {
    padding: 11px 58px;
  }
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.social {
  width: 33px;
  height: 33px;
}