.services {
  padding-top: 60px;
  padding-bottom: 75px;

  &__title {
    margin-bottom: 14px;
    text-align: center;
    font-family: $ff;
    font-size: 65px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.95px;
    color: $black;
  }

  &__description {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 62px;
    max-width: 932px;
    text-align: center;
    font-family: $ff;
    font-size: 21px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.63px;
    color: $black;
  }

  &__items {
    display: flex;
    gap: 31px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px;
    min-height: 350px;
    border-radius: 14px;
    background-color: #F8F8F8;

    &_image {
      margin-top: 30px;
      margin-bottom: 19px;
    }

    &_title {
      margin-bottom: 15px;
      font-family: $ff;
      font-size: 32px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.96px;
      color: $black;
    }

    &_description {
      font-family: $ff;
      min-height: 120px;
      font-size: 19px;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.57px;
      color: $black;
    }
  }
}