.services {
  padding-top: 36px;
  padding-bottom: 36px;

  @media all and (min-width: $md) {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  @media all and (min-width: $lg) {
    padding-top: 48px;
    padding-bottom: 58px;
  }

  @media all and (min-width: $xl) {
    padding-top: 58px;
    padding-bottom: 75px;
  }

  &__title {
    margin-bottom: 14px;
    text-align: center;
    font-family: $ff;
    font-size: 36px;
    font-weight: $fw-semibold;
    line-height: normal;
    letter-spacing: 1.95px;
    color: $black;

    @media all and (min-width: $sm) {
      font-size: 42px;
    }

    @media all and (min-width: $md) {
      font-size: 48px;
    }

    @media all and (min-width: $lg) {
      font-size: 58px;
    }

    @media all and (min-width: $xl) {
      font-size: 65px;
    }
  }

  &__description {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 62px;
    max-width: 932px;
    text-align: center;
    font-family: $ff;
    font-size: $fs-sm;
    font-weight: $fw-regular;
    line-height: normal;
    letter-spacing: 0.63px;
    color: $black;

    @media all and (min-width: $md) {
      font-size: $fs-md;
    }

    @media all and (min-width: $lg) {
      font-size: $fs-lg;
    }

    @media all and (min-width: $xl) {
      font-size: 21px;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 31px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px;
    max-width: 330px;
    min-height: 280px;
    border-radius: 14px;
    background-color: #F8F8F8;

    &_image {
      padding-top: 10px;
      padding-bottom: 9px;

      @media all and (min-width: $md) {
        padding-top: 18px;
        padding-bottom: 14px;
      }

      @media all and (min-width: $lg) {
        padding-top: 25px;
        padding-bottom: 17px;
      }

      @media all and (min-width: $xl) {
        padding-top: 30px;
        padding-bottom: 15px;
      }

    }

    &_title {
      margin-bottom: 15px;
      font-family: $ff;
      font-size: 22px;
      font-weight: $fw-semibold;
      line-height: normal;
      letter-spacing: 0.96px;
      color: $black;

      @media all and (min-width: $md) {
        font-size: 26px;
      }

      @media all and (min-width: $lg) {
        font-size: 28px;
      }

      @media all and (min-width: $xl) {
        font-size: 32px;
      }
    }

    &_description {
      font-family: $ff;
      min-height: 60px;
      font-size: $fs-sm;
      font-weight: $fw-regular;
      line-height: normal;
      letter-spacing: 0.57px;
      color: $black;
      word-wrap: break-word;

      @media all and (min-width: $md) {
        min-height: 80px;
        font-size: $fs-md;
      }

      @media all and (min-width: $lg) {
        min-height: 100px;
        font-size: $fs-lg;
      }

      @media all and (min-width: $xl) {
        min-height: 120px;
        font-size: 19px;
      }
    }

    @media all and (min-width: $md) {
      min-height: 300px;
    }

    @media all and (min-width: $lg) {
      min-height: 330px;
    }

    @media all and (min-width: $xl) {
      min-height: 350px;
    }
  }
}