.header {
  padding-top: 31px;
  padding-bottom: 30px;

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media all and (min-width: $xl) {
      display: flex;
      justify-content: start;
      gap: 124px;
    }
  }

  @media all and (min-width: $md) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media all and (min-width: $xl) {
    padding-top: 61px;
    padding-bottom: 60px;
    display: flex;
    justify-content: start;
    gap: 124px;
  }
}

.navigation {
  display: none;
  align-items: center;
  gap: 24px;

  @media all and (min-width: $xl) {
    display: flex;
  }

  &.open__menu {
    padding-top: 65px;
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    flex-direction: column;
    background-color: wheat;
    z-index: 99;
    overflow: scroll;

    @media all and (min-width: $xxl) {
      padding-top: 100px;
      padding-bottom: 30px;
    }

    @media all and (min-width: $xxl) {
      display: none;
    }
  }
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &-item {
    padding: 10px 14px;
    font-family: $ff;
    font-size: 16px;
    font-weight: $fw-regular;
    line-height: normal;
    letter-spacing: 0.63px;
    color: $black;
    text-decoration: none;

    &:hover {
      color: #ff8900;
    }

    @media all and (min-width: $lg) {
      font-size: 21px;
    }

    @media all and (min-width: $xl) {
      font-size: $fs-md;
    }

    @media all and (min-width: $xxl) {
      font-size: 21px;
    }
  }

  @media all and (min-width: $xl) {
    flex-direction: row;
  }
}