.header {
  padding-top: 61px;
  padding-bottom: 60px;

  &__wrapper {
    display: flex;
    flex-direction: row;
    gap: 124px;
  }

  &__title {
    margin: 0;
    font-family: $ff-title;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
    color: var(--light-black, #545454);

    strong {
      color: $black;
    }
  }



  &__nav {
    display: flex;
    gap: 12px;

    &-item {
      padding: 10px 14px;
      font-family: $ff;
      font-size: 21px;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.63px;
      color: $black;
      text-decoration: none;

      &:hover {
        color: #ff8900;
      }
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav {
  display: flex;
  gap: 12px;

  &-item {
    padding: 10px 14px;
    font-family: $ff;
    font-size: 21px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.63px;
    color: $black;
    text-decoration: none;

    &:hover {
      color: #ff8900;
    }
  }
}