.footer {
  padding-top: 52px;
  background-color: #F8F8F8;

  @media all and (min-width: $md) {
    padding-top: 68px;
  }

  @media all and (min-width: $lg) {
    padding-top: 83px;
  }

  @media all and (min-width: $xl) {
    padding-top: 107px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    margin-bottom: 42px;

    @media all and (min-width: $lg) {
      margin-bottom: 52px;
    }

    @media all and (min-width: $xl) {
      margin-bottom: 58px;
    }

    @media all and (min-width: $xl) {
      margin-bottom: 61px;
    }
  }

  &__nav {
    margin-bottom: 81px;

    &-item {
      text-align: center;
      font-size: $fs-sm;


      @media all and (min-width: $lg) {
        font-size: $fs-md;
      }

      @media all and (min-width: $xl) {
        font-size: $fs-md;
      }

      @media all and (min-width: $xl) {
        font-size: 21px;
      }
    }
  }



  &__socials {
    margin-bottom: 62px;
  }

  &__rights {
    padding-top: 26px;
    padding-bottom: 26px;
    width: 100%;
    background-color: #545454;

    p {
      font-family: $ff;
      font-size: $fs-xs;
      text-align: center;
      font-weight: $fw-regular;
      line-height: normal;
      letter-spacing: 0.63px;
      color: $white;

      @media all and (min-width: $md) {
        font-size: $fs-lg;
      }

      @media all and (min-width: $lg) {
        font-size: $fs-xl;
      }

      @media all and (min-width: $xl) {
        font-size: 21px;
      }
    }

    span {
      font-weight: 700;
      color: $orange;
    }
  }
}