.footer {
  padding-top: 103px;

  background-color: #F8F8F8;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    margin-bottom: 61px;
  }

  &__nav {
    margin-bottom: 81px;
  }

  &__socials {
    margin-bottom: 62px;
  }

  &__rights {
    padding-top: 26px;
    padding-bottom: 26px;
    width: 100%;
    background-color: #545454;

    p {
      font-family: $ff;
      font-size: 21px;
      text-align: center;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.63px;
      color: $white;
    }

    span {
      font-weight: 700;
      color: #FD6F00;
    }
  }
}